/* You can add global styles to this file, and also import other style files */
body {
    background: url('http://localhost:8080/api/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
  }

  @font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter_28pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  