.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 9999;
  overflow: hidden;
}

h1 {
  position: absolute;
  color: white;
  opacity: 0;
  animation: fadeInOut 1s ease-in-out forwards;
}

.hello-text {
  font-size: 5rem;
}

.other-text {
  font-size: 3rem;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
